<a href="https://colab.research.google.com/github/cutepotato24/REPH-Python-Training/blob/main/Python_Training_REPH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## What is Python?

- High-level, interpreted programming language
- Popular for its readability and wide range of applications

## Why Use Python for Data Analysis?

- Easy syntax
- Large ecosystem (numpy, pandas, matplotlib, etc.)


<br>
<br>
Here's a resource that explains how Python is used in conjunction with Markdown:

[Using Markdown with Python](https://jupyter-notebook.readthedocs.io/en/stable/notebook.html#markdown-cells/)

#Python Basics

##0.Basic Input and Output

Output: Displaying data to the user. Using print() function

In [ ]:
print("Python for Data Analysis")

Input: Getting data from the user. Using input() function

In [ ]:
name = input("Enter you name: ")
print("Hello,", name)

##1. Syntax and Variables

###Syntax:
The set of rules that defines the combinations of symbols that are considered to be correctly structured Python programs.
<br>
<br>

###Variable:
A variable is a name that refers to a value stored in the computerâ€™s memory. Variables allow you to store, retrieve, and manipulate data in your program.

In [ ]:
# This is a comment
# In Python, Variable's Data type is automatically recognized, no need to declare

age = 5 ## This is stored as a number
first_name = "Alice" ## This is stored as a text
last_name = input("Input Last Nmame from User: ")  ##input is always stored as a test


print("Her name is ",first_name," ", last_name)
print("She is ",age," years old")

##2. Data Types:
The classification of data items. Python has several built-in data types, including:

- int (integer): Whole numbers, e.g., 5
- float: Decimal numbers, e.g., 3.14
- str (string): Text, e.g., "hello"
- bool (boolean): True or False values

In [ ]:
a = 10      # int
b = 3.14    # float
c = "hello" # str
d = True    # bool

##3. Basic Operators
A symbol that performs an operation on one or more values (operands).
<br>
<br>
###Arithmetic Operators:
Used for mathematical calculations.

- x + y   &nbsp;&nbsp; Addition
- x - y   &nbsp;&nbsp;&nbsp;Subtraction
- x * y   &nbsp;&nbsp;&nbsp;Multiplication
- x / y   &nbsp;&nbsp;&nbsp;&nbsp;Division
- ** y    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exponentiation
- x % y   &nbsp;&nbsp;&nbsp;Modulus (remainder)

In [ ]:
x = 5
y = 10

a = x + y

print(a)
print(x + y)

###Comparison Operators:
Compare two values and return a boolean result.

- x == y  # Equal to
- x != y  # Not equal to
- x > y   # Greater than
- x < y   # Less than

In [ ]:
x = 5
y = 10
z = 5

print(x == y)
print(x == z)

###Logical Operators:
Combine boolean values.

 - x AND y
- x OR y
- NOT x

In [ ]:
x = 5
y = 25

if x > 0 and y < 20:
    print("x is positive and y is less than 20")
else:
    print("Condition not satisfied")

##4. Data Structures

A way of organizing and storing data so it can be accessed and modified efficiently.

List: An ordered, mutable collection of items.

In [ ]:
fruits = ["apple", "banana", "cherry"]

Tuple: An ordered, immutable collection of items.

In [ ]:
point = (3, 4)

Set: An unordered collection of unique items.

In [ ]:
unique_numbers = {1, 2, 3}

Dictionary: An unordered collection of key-value pairs.

In [ ]:
person = {"name": "Alice", "age": 25}

##5. Control Flow

The order in which individual statements, instructions, or function calls are executed or evaluated.

### IF Statement:  
Allows you to execute code only if a certain condition is true.

In [ ]:
# Example of an IF statement
age = 13

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

###For Loop:
Used to iterate over a sequence (such as a list, tuple, or string).

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

###While Loop:
Repeats a block of code as long as a condition is true.

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

###

##6. Function:
A block of reusable code that performs a specific task. Functions help organize code and avoid repetition.

Return Statement:
<br>
Used to send a result back from a function to the caller.

In [ ]:
def greet(name):
    print("Hello, " + name)
greet("Alice")

In [ ]:
def add_numbers(a, b):
    return a + b

# Example usage:
result = add_numbers(5, 3)
print("The sum is:", result)

In [ ]:
# Define a simple function
def square(number):
  return number * number

# Use a for loop to call the function for each item in a list
numbers = [1, 2, 3, 4, 5]
for num in numbers:
  squared_num = square(num)
  print(f"The square of {num} is {squared_num}")

##7. Importing Modules
###Module:
A file containing Python code (functions, classes, variables) that can be imported and used in other programs.

###Import Statement:
Used to bring modules and their functions into your program.

In [ ]:

import math
import numpy as np

print(math.sqrt(16))
print(np.sum([1,2,3,4,5]))

# Python for Data Cleaning and Data Analysis

##Importing and Exploring your data sets

In [ ]:
import pandas as pd

# Import dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df.head(5)
# Explore the data
#print(df.head())

The dataset referenced in this notebook is the **Titanic dataset**, a popular resource for learning data analysis and machine learning.

**Dataset Details:**

*   **Source:** Publicly available on platforms like Kaggle. The version used here is from: `https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv`
*   **Context:** Contains information about passengers aboard the RMS Titanic, which sank in 1912. A common task using this dataset is predicting passenger survival based on various features.

**Key Columns:**

| Column      | Description                                       |
| :---------- | :------------------------------------------------ |
| PassengerId | Unique identifier for each passenger              |
| Survived    | Survival status (0 = No, 1 = Yes)                 |
| Pclass      | Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)          |
| Name        | Passenger's name                                  |
| Sex         | Gender of the passenger                           |
| Age         | Age in years                                      |
| SibSp       | Number of siblings/spouses aboard                 |
| Parch       | Number of parents/children aboard                 |
| Ticket      | Ticket number                                     |
| Fare        | Passenger fare (ticket price)                     |
| Cabin       | Cabin number                                      |
| Embarked    | Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton) |

In [ ]:
row_count = len(df)
print(f"There are {row_count} rows in the data")
print("")
df.info()

In [ ]:
print(df.describe())

##Data Cleaning Techniques

In [ ]:
# Check for duplicates
num_dup_rows = df.duplicated().sum()
print(f"There are {num_dup_rows} duplicate rows in the data")


# Remove duplicates
df.drop_duplicates(inplace=True)

row_count = len(df)
print(f"There are {row_count} rows remained in the data")
print("")
df.info()

In [ ]:
# Check for missing values
print(df.isnull().sum())

In [ ]:
# Fill missing values
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [ ]:
# Drop rows with missing values in 'Embarked'
df.dropna(subset=['Embarked'], inplace=True)

In [ ]:
row_count = len(df)
print(f"There are {row_count} rows in the data")
print("")
df.info()

In [ ]:
df['Sex'].unique()

In [ ]:
df['Sex'] = df['Sex'].str.lower()

In [ ]:
df['Last_Name'] = df['Name'].str.extract(r'^([^,]+),')

# Extract First Name (after title, before any parenthesis)
# This regex finds the part after the title and period, then strips leading/trailing spaces and any parentheses
df['First_Name'] = df['Name'].str.extract(r',\s*[A-Za-z]+\.\s*(.*?)(\(|$|\n)')[0].str.strip()

# Remove extra middle names if you want only the first given name:
# df['First_Name'] = df['First_Name'].str.split().str[0]

# Show the result
print(df[['Name', 'Last_Name', 'First_Name']].head(10))

In [ ]:
#Check Updated Dataframe
df.head(10)

##Data Visualization

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Plot age distribution
plt.figure(figsize=(10,4))
sns.histplot(df['Age'], bins=20)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

print("")
# Survival rate by class
sns.barplot(x='Pclass', y='Survived', data=df)
plt.title('Survival Rate by Passenger Class')
plt.show()

print("")
survival_by_class = df.groupby('Pclass')['Survived'].mean()
print(survival_by_class)

##Real life Example Sale

In [ ]:
# For demonstration, let's use the Titanic dataset as "sales data"
# Imagine 'Fare' as 'Sales Amount' and 'Pclass' as 'Product Category'

# Clean data: Remove outliers in 'Fare'
df = df[df['Fare'] < df['Fare'].quantile(0.99)]

# Analyze top categories by average sales
avg_sales_by_category = df.groupby('Pclass')['Fare'].mean()
print(avg_sales_by_category)

# Visualize
sns.barplot(x=avg_sales_by_category.index, y=avg_sales_by_category.values)
plt.title('Average Sales Amount by Product Category')
plt.xlabel('Product Category')
plt.ylabel('Average Sales')
plt.show()

In [ ]:
# For demonstration, let's use the Titanic dataset as "sales data"
# Imagine 'Fare' as 'Sales Amount' and 'Pclass' as 'Product Category'

# Clean data: Remove outliers in 'Fare'
import numpy as np

# Calculate 99th percentile
fare_99 = df['Fare'].quantile(0.99)

# Create a flag for outliers
df['Fare_Outlier'] = df['Fare'] > fare_99

# Plot all fares, highlighting outliers
plt.figure(figsize=(10, 5))
sns.scatterplot(x=range(len(df)), y='Fare', data=df, hue='Fare_Outlier', palette={False: 'blue', True: 'red'}, legend='brief')
plt.title('Fare Values with Outliers Highlighted')
plt.xlabel('Passenger Index')
plt.ylabel('Fare')
plt.legend(title='Outlier')
plt.show()

In [ ]:
avg_sales_by_category = df.groupby(['Sex'])['Fare'].mean()
avg_sales_by_category

In [ ]:
# Define bins and labels
bins = [0, 12, 19, 35, 60, 120]
labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior']

# Create AgeGroup
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True)

# Group by Sex and AgeGroup, then calculate mean Fare
avg_sales_by_category = df.groupby(['Sex', 'AgeGroup'])['Fare'].mean()
avg_sales_by_category = avg_sales_by_category.reset_index()
print(avg_sales_by_category)

import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8,5))
sns.barplot(x='AgeGroup', y='Fare', hue='Sex', data=avg_sales_by_category)
plt.title('Average Fare by Age Group and Sex')
plt.ylabel('Average Fare')
plt.xlabel('Age Group')
plt.show()

In [ ]:
# For demonstration, let's use the Titanic dataset as "sales data"
# Imagine 'Fare' as 'Sales Amount' and 'Pclass' as 'Product Category'

# Clean data: Remove outliers in 'Fare'
df = df[df['Fare'] < df['Fare'].quantile(0.99)]

# Analyze top categories by average sales
avg_sales_by_category = df.groupby('Pclass')['Fare'].mean()
print(avg_sales_by_category)

# Visualize
sns.barplot(x=avg_sales_by_category.index, y=avg_sales_by_category.values)
plt.title('Average Sales Amount by Product Category')
plt.xlabel('Product Category')
plt.ylabel('Average Sales')
plt.show()

In [ ]:
df